<div
  class="pensamento {{ pensamento?.modelo }} ff-roboto-mono"
  [ngClass]="larguraPensamento()"
>
  <img
    src="../../../../assets/{{ pensamento?.modelo }}.png"
    alt="Aspas coloridas"
  />
  <p class="conteudo">{{ pensamento?.conteudo }}</p>
  <p class="autoria">
    <span>{{ pensamento?.autoria }}</span>
  </p>
  <div class="acoes">
    <button class="botao-editar">
      <img
        src="../../../../assets/icone-editar.png"
        alt="Icone de edição do card"
      />
    </button>
    <button class="botao-excluir">
      <img
        src="../../../../assets/icone-excluir.png"
        alt="Icone de edição do card"
      />
    </button>
  </div>
</div>
